/* основные цвета */
/* 
цвет фона черный  #2F303A
цвет фона белый  #F5F5F5
цвет фона сероватый #757575 
цвет фона иконок белый  #FFFFFF
цвет текста черный #212121
цвет текста серый #757575
цвет текста белый #FFFFFF
Цвет лого черный #000000
Цвет лого синий #2196F3 
Цвет выделенного текста синий  #2196F3
цвет ссылок в адресе #rgba(255, 255, 255, .4)
*/

:root{
    --background-color-black : #2F303A;
    --background-color-white : #F5F5F5;
    --background-color-grey: #757575;
    --background-color-icon-white: #FFFFFF;
    --text-color-black: #212121;
    --text-color-white: #FFFFFF;
    --text-color-blue: #2196F3;
    --logo-color-black: #212121;
    --logo-color-blue: #2196F3;
    --accent-color-blue: #2196F3;
    --address-links-color-grey: #rgba(255, 255, 255, .4);

}